@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #E4002B;
    --secondary-color: #EAE7E1;
    --text-color: #000;
    --main-padding: 32px;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--primary-color);
    color: black;
    font-family: "Inter";
    font-weight: 400;
    margin: 0;
    word-break: break-word;
}

main {
    background: white;
}

.content {
    max-width: 768px;
    margin: auto;
}

header, nav, main, footer {
    padding: var(--main-padding);
    position: relative;
}

.post {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
}

.post .post-content {
    position: relative;
}

.post .background {
    position: absolute;
    top: 0;
    left: calc(var(--main-padding) * -1);
    width: calc(100% + var(--main-padding) * 2);
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: opacity(20%);
}

.background-animated {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1000;
    animation: slide 90s linear infinite alternate;
    animation-delay: -45s;
}

.background-static {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
    background-position: center;
    background-size: cover;
}

@keyframes slide {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(calc(100vw - 100%));
    }
  }
  

#slogan {
    font-size:  48px;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--primary-color);
    padding: 4px;
    color: white;
}


@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

header {
    min-height: 128px;
    box-sizing: border-box;
}

#header-image {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 128px);
    flex-grow: 1;
}

#header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 128px;
    padding: 32px;
}

#header-title-inner {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 32px;
    flex-grow: 0;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 1000;
}

nav, footer {
    background-color: var(--primary-color);
    color: white;
}

nav a, footer a {
    color: white;
}

nav > a {
    /*padding: 4px;*/
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

nav > a:first-of-type {
    padding-left: 0;
}

nav > a:last-of-type {
    padding-right: 0;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

summary {
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

main img {
    width: 100%;
}

a {
    color: var(--text-color);
}

a.button, button, input[type=submit] {
    background: var(--primary-color);
    padding: 12px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}

button.inline {
    padding: 0;
    margin: 0;
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 16px;
    text-align: left;
}

.event {
    /*display: flex;
    justify-content: space-between;*/
    border-bottom: 1px solid black;
}

.event:first-of-type {
    border-top: 1px solid black;
}

.archived {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.archived:first-of-type {
    border-top: 1px solid black;
}


.event .date {
    margin-right: 16px;
}

iframe {
    margin-left: calc(var(--main-padding) * -1);
    width: 100vw;
    height: 60vh;
    border: none;
}

figure.image {
    margin: 0;
    width: 100%;
}

figure.image figcaption {
    font-style: italic;
}

figure.portrait {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color);
    margin-top: 1em;
    margin-bottom: 1em;
}

figure.portrait > img {
    width: 100%;
}

figure.portrait figcaption {
    padding: 16px;
}

@media only screen and (min-width: 512px) {
    #header-image {
        max-height: 40vh;
    }

    .background-animated {
        display: none;
    }

    .background-static {
        display: block;
    }

    nav {
        justify-content: center;
    }

    figure.portrait {
        flex-wrap: nowrap;
    }

    figure.portrait > img {
        width: 192px;
    }
}

form {
    padding: 16px;
    background: var(--secondary-color);
}

label {
    width: 100%;
    display: block;
}

input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 12px;
    border: none;
}

