<div class="post archived" onclick="window.location.href = '{{ post.url }}'">
    <div class="content">
        <p class="date">
            {{ post.date | date: "%-d" }}.
            {% assign m = post.date | date: "%-m" %}
            {% case m %}
            {% when "1" %}Jan.
            {% when "2" %}Febr.
            {% when "3" %}März
            {% when "4" %}April
            {% when "5" %}Mai
            {% when "6" %}Juni
            {% when "7" %}Juli
            {% when "8" %}Aug.
            {% when "9" %}Sept.
            {% when "10" %}Okt.
            {% when "11" %}Nov.
            {% when "12" %}Dez.
            {% endcase %}
            {{ post.date | date: "%y" }}</p>
        <h3 class="title">{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <a href="{{ post.url }}" class="button">Mehr lesen</a>
    </div>
</div>