<div class="event" date="{{ include.date | date: "%Y-%m-%d" }}T{{ include.end }}:00Z">
    <p>
        <span style="white-space: nowrap;">{{ include.date | date: "%-d" }}.
        {% assign m = include.date | date: "%-m" %}
        {% case m %}
        {% when "1" %}Jan.
        {% when "2" %}Febr.
        {% when "3" %}März
        {% when "4" %}April
        {% when "5" %}Mai
        {% when "6" %}Juni
        {% when "7" %}Juli
        {% when "8" %}Aug.
        {% when "9" %}Sept.
        {% when "10" %}Okt.
        {% when "11" %}Nov.
        {% when "12" %}Dez.
        {% endcase %}
        {{ include.date | date: "%y" }}</span>{% if include.begin and include.end and include.location %}, <span style="white-space: nowrap;">{{ include.begin }} - {{ include.end }}</span><br>
        <em>{{ include.location }}</em><br>
        {% endif %}
    </p>
    <p>
        <strong>{{ include.title }}</strong><br>
        {% if include.description %}
        <span>{{ include.description }}</span><br>
        {% endif %}
    </p>
    {% if include.begin and include.end and include.location %}
    <button onclick="downloadIcs('{{ include.title }}', '{{ include.description }}', '{{ include.location }}', '{{ include.date | date: "%Y-%m-%d" }}T{{ include.begin }}:00Z', '{{ include.date | date: "%Y-%m-%d" }}T{{ include.end }}:00Z');">Termin speichern</button>
    {% endif %}
</div>