<footer>
    <div class="content">
        <h3>Navigation</h3>
        <p>
            <a href="/">Home</a><br>
            <a href="/termine.html">Termine</a><br>
            <a href="/ueber-uns.html">Über uns</a><br>
            <a href="/mitmachen.html">Mitmachen</a><br>
            <a href="/standpunkte.html">Standpunkte</a><br>
            <a href="/kontakt.html">Kontakt</a><br>
            <a href="/archiv.html">Archiv</a>
        </p>
        <h3>Weiterführende Links</h3>
        <p>
            <a href="https://www.instagram.com/sp.sursee/">Instagram</a><br>
            <a href="https://www.facebook.com/spsursee/">Facebook</a><br>
            <a href="https://www.sp-ps.ch/mitglied-werden/">Mitglied werden</a><br>
            <a href="https://sp-luzern.ch/de">SP Kanton Luzern</a><br>
            <a href="http://sp-ps.ch/">SP Schweiz</a>
        </p>
        <button onclick="printPreview()">Flyer erstellen</button>
    </div>
</footer>
