<header>
    <div id="header-image">
        {% if page.image %}
            <div class="background-static" style="background-image: url('{{ page.image }}');"></div>
            <img class="background-animated" src="{{ page.image }}">
        {% else %}
            <div class="background-static" style="background-image: url('/assets/sursee.jpg');"></div>
            <img class="background-animated" src="/assets/sursee.jpg">
        {% endif %}
        {% if page.title %}
            <span id="slogan">{{ page.title }}</span>
        {% else %}
            <span id="slogan">Ein Sursee für alle statt für wenige</span>
        {% endif %}
    </div>
    <div id="header-title">
        <img src="/assets/sp-logo-negative.png">
        <h1 id="title">SP Sursee<br>und Umgebung</h1>
    </div>
</header>