<div id="header-image">
    {% if page.image %}
        <div class="background-static" style="background-image: url('{{ page.image }}');"></div>
        <img class="background-animated" src="{{ page.image }}">
    {% else %}
        <div class="background-static" style="background-image: url('/assets/sursee.jpg');"></div>
        <img class="background-animated" src="/assets/sursee.jpg">
    {% endif %}
    <div class="content">
        {% if page.title %}
            <span id="slogan">{{ page.title }}</span>
        {% else %}
            <span id="slogan">Ein Sursee für alle<br>statt für wenige</span>
        {% endif %}
    </div>
</div>