<div class="post" onclick="window.location.href = '{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}'">
    {% if post.image %}
    <div class="background" style="background-image: url('{{ post.image }}');"></div>
    {% endif %}
    <div class="post-content">
        <p class="date">
            {{ post.date | date: "%-d" }}.
            {% assign m = post.date | date: "%-m" %}
            {% case m %}
            {% when "1" %}Jan.
            {% when "2" %}Febr.
            {% when "3" %}März
            {% when "4" %}April
            {% when "5" %}Mai
            {% when "6" %}Juni
            {% when "7" %}Juli
            {% when "8" %}Aug.
            {% when "9" %}Sept.
            {% when "10" %}Okt.
            {% when "11" %}Nov.
            {% when "12" %}Dez.
            {% endcase %}
            {{ post.date | date: "%y" }}</p>
        <h2 class="title">{{ post.title }}</h2>
        <p class="description">{{ post.description }}</p>
        {% if post.link %}
        <a href="{{ post.link }}" class="button">Mehr lesen</a>
        {% else %}
        <a href="{{ post.url }}" class="button">Mehr lesen</a>
        {% endif %}
    </div>
</div>