<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}
    <body>
        {% if page.logos and page.color %}
        <style>
            :root {
                --primary-color: {{ page.color }};
            }
        </style>
        {% endif %}
        <header>
            {% include header-image.html %}
            {% if page.logos %}
                {% include header-logos.html %}
            {% else %}
                {% include header-title.html %}
            {% endif %}
        </header>
        {% if page.logos %}
            <nav style="position: static;">
                <a href="#main">&#x25BC;</a>
            </nav>
        {% else %}
            {% include nav.html %}
        {% endif %}
        <main id="main">
            <div class="content">
                <h2>{{ page.title }}</h2>
                <p>{{ page.description }}</p>
                {{ content }}
            </div>
        </main>
        {% if page.logos %}
            <footer>
                <p>Dies ist eine Website der SP Sursee.</p>
                <a href="/">SP Sursee</a><br>
            </footer>
        {% else %}
            {% include footer.html %}
        {% endif %}
    </body>
</html>